<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- 微信服务号配置 -->
    <add key="configFileDir" value="" />
    <add key="configFile" value="AlipayPlugin.json" />
    <add key="IsUsingAppDB" value="true" />
    <add key="wxcookies_exprise" value="6" />
    <add key="wxcookies_name" value="__wxid" />
    <add key="weixinWebRootDir" value="/" />
    <!-- 微信公众号URL对接信息 -->
    <add key="WeixinToken" value="PclyAgentToken" />

    <add key="AgentWechatServiceAppID" value="wx2bdd3648d7813bd6" />
    <add key="AgentWechatServiceAppSecret" value="e255a9a4f967f3f6b2dd85df3c637d5c" />
    <add key="AgentWechatAESKey" value="A4xe3aIeCVys6THK4RUJkCHExeyNBIYrh5ruZ2lJwQc" />
    <add key="AgentWeixinToken" value="PclyAgentToken" />

    <!--要出发-->
    <add key="YCF_UrlBase" value="http://sip-api.yaochufa.com/" />
    <add key="YCF_PartnerId" value="GZPC001200601" />
    <add key="YCF_Access_Token" value="F@41@*G8g45@*G" />
    <add key="YCF_SecretCode" value="H5@a2d*@657@j" />
    <!--sms-->
    <add key="smsCallerId" value="50118001156" />
    <add key="smsPassword" value="74a463071e0a6c0c77883aea7cc5b230" />
    <add key="smsUrl" value="http://120.197.89.51/EOPS1.0/notice/send_01" />
    <add key="mulitSmsUrl" value="http://120.197.89.51/EOPS1.0/notice/send" />
    <add key="yanzhenSmsUrl" value="http://120.197.89.51/EOPS1.0/captcha/get" />
    <add key="AuthSmsUrl" value="http://120.197.89.51/EOPS1.0/captcha/auth" />
    <add key="AuthSmsUrl1" value="http://120.197.89.51/EOPS1.0/captcha/get_01" />

    <add key="IsDebug" value="0" />
    <!-- 启用开发调试模式 -->
    <add key="Domain" value="http://m.pcly.net/" />
    <!-- 站点域名 -->
    <add key="AdminDomain" value="http://m.pcly.net/s23nej/" />
    <!-- houtai -->
    <add key="StaticResourcePath" value="http://m.pcly.net/" />
    <!-- 静态资源路径 -->
    <add key="ApiDomain" value="http://i.pcly.net/" />
    <!-- 接口地址域名 -->

    <add key="MAX_DIGIT" value="4" />
    <!-- 中奖率最大小数位 -->
  </appSettings> 
</configuration>
