<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewData["Title"] - UniNote.WebClient</title>
    <link href="~/lib/layui/dist/css/layui.css" rel="stylesheet" /> 
    @RenderSection("css", false)
</head>
<body class="layui-layout-body">
     
            @RenderBody()
    
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
  
    <script src="~/lib/layui/dist/layui.all.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
 