@{
    Layout = null;
    ViewData["Title"] = "网站配置管理";
}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/lib/formbuilder/css/index.css">
    <link rel="stylesheet" href="/lib/formbuilder/css/index1.css">
    <link rel="stylesheet" href="/lib/formbuilder/css/home.css">
    <title>表单设计器</title>
   
</head>
<body>
   
    <noscript><strong>  </strong></noscript>
    <div id="app">
        <div class="form-designer">
            <section class="el-container">
                <aside class="el-aside" style="width: 270px;">
                    <div class="fields-list">
                        <div>
                            <div>
                                <div class="field-title">输入字段</div><ul>
                                    <li class="field-label" draggable="false" style="">
                                        <a draggable="false">
                                            <i class="icon iconfont icon-input"></i><span>单行文本</span>
                                        </a>
                                    </li>
                                    <li class="field-label">
                                        <a>
                                            <i class="icon iconfont icon-password"></i><span>密码</span>
                                        </a>
                                    </li>
                                    <li class="field-label">
                                        <a>
                                            <i class="icon iconfont icon-textarea"></i><span>多行文本</span>
                                        </a>
                                    </li>
                                    <li class="field-label">
                                        <a>
                                            <i class="icon iconfont icon-number"></i><span>计数器</span>
                                        </a>
                                    </li>
                                    <li class="field-label">
                                        <a>
                                            <i class="icon iconfont icon-table"></i><span>子表单</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div class="field-title">选择字段</div>
                                <ul>
                                    <li class="field-label">
                                        <a>
                                            <i class="icon iconfont icon-radio"></i>
                                            <span>单选框组</span>
                                        </a>
                                    </li>
                                    <li class="field-label" draggable="false">
                                        <a draggable="false">
                                            <i class="icon iconfont icon-checkbox"></i>
                                            <span>多选框组</span>
                                        </a>
                                    </li>
                                    <li class="field-label" draggable="false">
                                        <a draggable="false">
                                            <i class="icon iconfont icon-select"></i><span>下拉选择器</span>
                                        </a>
                                    </li>
                                    <li class="field-label">
                                        <a>
                                            <i class="icon iconfont icon-link"></i>
                                            <span>级联选择器</span>
                                        </a>
                                    </li>
                                    <li class="field-label">
                                        <a>
                                            <i class="icon iconfont icon-tree"></i><span></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div><div>
                            <div>
                                <div class="field-title">上传字段</div><ul>
                                    <li class="field-label">
                                        <a><i class="icon iconfont icon-upload"></i><span>上传</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div><div>
                            <div>
                                <div class="field-title">日期时间字段</div>
                                <ul>
                                    <li class="field-label"><a><i class="icon iconfont icon-year"></i><span>年</span></a></li>
                                    <li class="field-label"><a><i class="icon iconfont icon-month"></i><span>月</span></a></li>
                                    <li class="field-label"><a><i class="icon iconfont icon-week"></i><span>周</span></a></li>
                                    <li class="field-label"><a><i class="icon iconfont icon-date"></i><span>日期</span></a></li>
                                    <li class="field-label"><a><i class="icon iconfont icon-time"></i><span>时间</span></a></li>
                                    <li class="field-label"><a><i class="icon iconfont icon-datetime"></i><span>日期时间</span></a></li>
                                    <li class="field-label"><a><i class="icon iconfont icon-date-range"></i><span>日期范围</span></a></li>
                                    <li class="field-label"><a><i class="icon iconfont icon-time-range"></i><span>时间范围</span></a></li>
                                    <li class="field-label"><a><i class="icon iconfont icon-datetime-range"></i><span>日期时间范围</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div class="field-title">插件字段（请自行引入avue插件）</div><ul>
                                    <li class="field-label">
                                        <a>
                                            <i class="icon iconfont icon-richtext"></i>
                                            <span>富文本</span>
                                        </a>
                                    </li>
                                    <li class="field-label">
                                        <a>
                                            <i class="icon iconfont icon-map"></i>
                                            <span>坐标拾取器</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div><div>
                            <div>
                                <div class="field-title">其他字段</div>
                                <ul>
                                    <li class="field-label"><a><i class="icon iconfont icon-switch"></i><span>开关</span></a></li>

                                    <li class="field-label"><a><i class="icon iconfont icon-star"></i><span>评价</span></a></li>
                                    <li class="field-label"><a><i class="icon iconfont icon-slider"></i><span>滑块</span></a></li>
                                    <li class="field-label"><a><i class="icon iconfont icon-color"></i><span>颜色选择器</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside><section class="el-container widget-container is-vertical">
                    <header class="el-header widget-container-header" style="height: 60px;">
                        
                        <button type="button" class="el-button el-button--text el-button--medium">
                            <!---->
                            <i class="el-icon-upload2"></i><span>导入JSON</span>
                        </button><button type="button" class="el-button el-button--text el-button--medium">
                            <!---->
                            <i class="el-icon-download"></i><span>生成JSON</span>
                        </button>
                        <button type="button" class="el-button el-button--text el-button--medium">
                            <!---->
                            <i class="el-icon-view"></i><span>预览</span>
                        </button>
                        <button type="button" class="el-button danger el-button--text el-button--medium">
                            <!---->
                            <i class="el-icon-delete"></i><span>清空</span>
                        </button>
                    </header><main class="el-main" style="">
                        <div class="widget-form-container">
                            <form class="el-form el-form--label-left">
                                <div class="el-row">
                                    <div class="widget-form-list" style="">
                                        <div class="el-col el-col-24 el-col-offset-0 el-col-xs-24 el-col-md-24">
                                            <div class="el-form-item widget-form-item el-form-item--small active">
                                                <label class="el-form-item__label" for="1571908800952_31899" style="width: 100px;">单行文本</label>
                                                <div class="el-form-item__content" style="margin-left: 100px;">
                                                    <div class="avue-input">
                                                        <div class="el-input el-input--small el-input--suffix">
                                                            <!---->
                                                            <input type="text" autocomplete="off" placeholder="请输入单行文本" class="el-input__inner">
                                                            <!----><!----><!----><!---->
                                                        </div>
                                                    </div>
                                                    <button type="button" class="el-button widget-action-delete el-button--danger el-button--small is-plain is-circle" title="删除">
                                                        <!----><!----><span><i class="iconfont icon-delete"></i></span>
                                                    </button>
                                                    <button type="button" class="el-button widget-action-clone el-button--primary el-button--small is-plain is-circle" title="复制">
                                                        <!----><!----><span>
                                                            <i class="iconfont icon-copy"></i>
                                                        </span>
                                                    </button><!---->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </main>
                </section>
                <aside class="el-aside widget-config-container" style="width: 380px;">
                    <div class="el-tabs el-tabs--top">
                        <div class="el-tabs__header is-top">
                            <div class="el-tabs__nav-wrap is-top">
                                <div class="el-tabs__nav-scroll">
                                    <div role="tablist" class="el-tabs__nav is-top is-stretch" style="transform: translateX(0px);">
                                        <div class="el-tabs__active-bar is-top" style="width: 170px; transform: translateX(210px);">
                                        </div>
                                        <div id="tab-widget" aria-controls="pane-widget" role="tab" tabindex="-1" class="el-tabs__item is-top">字段属性</div>
                                        <div id="tab-form" aria-controls="pane-form" role="tab" tabindex="0" class="el-tabs__item is-top is-active" aria-selected="true">表单属性</div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="el-tabs__content">
                            <div role="tabpanel" id="pane-widget" aria-labelledby="tab-widget" class="el-tab-pane" aria-hidden="true" style="padding: 0px 10px; display: none;">
                                <div class="widget-config">
                                    <form class="el-form">
                                        <div class="el-form-item el-form-item--small">
                                            <label class="el-form-item__label">类型：</label>
                                            <div class="el-form-item__content">
                                                <div class="el-select el-select--small">
                                                    <!---->
                                                    <div class="el-input el-input--small el-input--suffix">
                                                        <!---->
                                                        <input type="text" readonly="readonly" autocomplete="off" placeholder="请选择类型" class="el-input__inner"><!---->
                                                        <span class="el-input__suffix">
                                                            <span class="el-input__suffix-inner">
                                                                <i class="el-select__caret el-input__icon el-icon-arrow-up"></i><!----><!----><!----><!----><!---->
                                                            </span><!---->
                                                        </span><!----><!---->
                                                    </div>
                                                    <div class="el-select-dropdown el-popper" style="display: none;">
                                                        <div class="el-scrollbar" style="">
                                                            <div class="el-select-dropdown__wrap el-scrollbar__wrap" style="margin-bottom: -17px; margin-right: -17px;">
                                                                <ul class="el-scrollbar__view el-select-dropdown__list">
                                                                    <!---->
                                                                    <ul class="el-select-group__wrap">
                                                                        <li class="el-select-group__title">输入字段</li>
                                                                        <li>
                                                                            <ul class="el-select-group">
                                                                                <li class="el-select-dropdown__item selected">
                                                                                    <span>单行文本</span>
                                                                                </li>
                                                                                <li class="el-select-dropdown__item"><span>密码</span></li>
                                                                                <li class="el-select-dropdown__item"><span>多行文本</span></li>
                                                                                <li class="el-select-dropdown__item"><span>计数器</span></li>
                                                                                <li class="el-select-dropdown__item"><span>子表单</span></li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                    <ul class="el-select-group__wrap">
                                                                        <li class="el-select-group__title">选择字段</li>
                                                                        <li>
                                                                            <ul class="el-select-group">
                                                                                <li class="el-select-dropdown__item"><span>单选框组</span></li>
                                                                                <li class="el-select-dropdown__item"><span>多选框组</span></li>
                                                                                <li class="el-select-dropdown__item"><span>下拉选择器</span></li>
                                                                                <li class="el-select-dropdown__item"><span>级联选择器</span></li>
                                                                                <li class="el-select-dropdown__item">
                                                                                    <span>树形选择器</span>
                                                                                </li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                    <ul class="el-select-group__wrap">
                                                                        <li class="el-select-group__title">上传字段</li>
                                                                        <li>
                                                                            <ul class="el-select-group">
                                                                                <li class="el-select-dropdown__item"><span>上传</span></li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                    <ul class="el-select-group__wrap">
                                                                        <li class="el-select-group__title">日期时间字段</li>
                                                                        <li>
                                                                            <ul class="el-select-group">
                                                                                <li class="el-select-dropdown__item"><span>年</span></li>
                                                                                <li class="el-select-dropdown__item"><span>月</span></li>
                                                                                <li class="el-select-dropdown__item"><span>周</span></li>
                                                                                <li class="el-select-dropdown__item"><span>日期</span></li>
                                                                                <li class="el-select-dropdown__item"><span>时间</span></li>
                                                                                <li class="el-select-dropdown__item"><span>日期时间</span></li>
                                                                                <li class="el-select-dropdown__item"><span>日期范围</span></li>
                                                                                <li class="el-select-dropdown__item"><span>时间范围</span></li>
                                                                                <li class="el-select-dropdown__item"><span>日期时间范围</span></li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                    <ul class="el-select-group__wrap">
                                                                        <li class="el-select-group__title">插件字段（请自行引入avue插件）</li>
                                                                        <li>
                                                                            <ul class="el-select-group">
                                                                                <li class="el-select-dropdown__item">
                                                                                    <span>富文本</span>
                                                                                </li>
                                                                                <li class="el-select-dropdown__item">
                                                                                    <span>
                                                                                        坐标拾取
                                                                                        器
                                                                                    </span>
                                                                                </li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                    <ul class="el-select-group__wrap">
                                                                        <li class="el-select-group__title">其他字段</li>
                                                                        <li>
                                                                            <ul class="el-select-group">
                                                                                <li class="el-select-dropdown__item"><span>开关</span></li>
                                                                                <li class="el-select-dropdown__item"><span>评价</span></li>
                                                                                <li class="el-select-dropdown__item"><span>滑块</span></li>
                                                                                <li class="el-select-dropdown__item"><span>颜色选择器</span></li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                </ul>
                                                            </div><div class="el-scrollbar__bar is-horizontal">
                                                                <div class="el-scrollbar__thumb" style="transform: translateX(0%);"></div>
                                                            </div><div class="el-scrollbar__bar is-vertical"><div class="el-scrollbar__thumb" style="transform: translateY(0%);"></div></div>
                                                        </div><!---->
                                                    </div>
                                                </div><!---->
                                            </div>
                                        </div><div class="el-form-item el-form-item--small"><label class="el-form-item__label">属性值：</label><div class="el-form-item__content"><div class="el-input el-input--small"><!----><input type="text" autocomplete="off" placeholder="属性值" class="el-input__inner"><!----><!----><!----><!----></div><!----></div></div><div class="el-form-item el-form-item--small"><label class="el-form-item__label">标题：</label><div class="el-form-item__content"><div class="el-input el-input--small"><!----><input type="text" autocomplete="off" placeholder="标题" class="el-input__inner"><!----><!----><!----><!----></div><!----></div></div><div class="el-form-item el-form-item--small"><label class="el-form-item__label">表单栅格：</label><div class="el-form-item__content"><div class="el-input-number el-input-number--small is-controls-right"><span role="button" class="el-input-number__decrease"><i class="el-icon-arrow-down"></i></span><span role="button" class="el-input-number__increase is-disabled"><i class="el-icon-arrow-up"></i></span><div class="el-input el-input--small"><!----><input type="text" autocomplete="off" placeholder="表单栅格" max="24" min="8" class="el-input__inner" role="spinbutton" aria-valuemax="24" aria-valuemin="8" aria-valuenow="24" aria-disabled="false"><!----><!----><!----><!----></div></div><!----></div></div><div>
                                            <div class="el-form-item el-form-item--small"><label class="el-form-item__label">占位内容：</label><div class="el-form-item__content"><div class="el-input el-input--small"><!----><input type="text" autocomplete="off" placeholder="占位内容" class="el-input__inner"><!----><!----><!----><!----></div><!----></div></div><div class="el-form-item el-form-item--small"><label class="el-form-item__label">默认值：</label><div class="el-form-item__content"><div class="el-input el-input--small"><!----><input type="text" autocomplete="off" placeholder="默认值" class="el-input__inner"><!----><!----><!----><!----></div><!----></div></div><div class="el-form-item el-form-item--small"><label class="el-form-item__label">前缀：</label><div class="el-form-item__content"><div class="el-input el-input--small"><!----><input type="text" autocomplete="off" placeholder="前缀" class="el-input__inner"><!----><!----><!----><!----></div><!----></div></div><div class="el-form-item el-form-item--small"><label class="el-form-item__label">后缀：</label><div class="el-form-item__content"><div class="el-input el-input--small"><!----><input type="text" autocomplete="off" placeholder="后缀" class="el-input__inner"><!----><!----><!----><!----></div><!----></div></div><div class="el-form-item el-form-item--small"><label class="el-form-item__label">最大长度：</label><div class="el-form-item__content"><div class="el-input-number el-input-number--small is-controls-right"><span role="button" class="el-input-number__decrease"><i class="el-icon-arrow-down"></i></span><span role="button" class="el-input-number__increase"><i class="el-icon-arrow-up"></i></span><div class="el-input el-input--small"><!----><input type="text" autocomplete="off" placeholder="最大长度" max="Infinity" min="-Infinity" class="el-input__inner" role="spinbutton" aria-valuemax="Infinity" aria-valuemin="-Infinity" aria-valuenow="undefined" aria-disabled="false"><!----><!----><!----><!----></div></div><!----></div></div><div class="el-form-item el-form-item--small"><label class="el-form-item__label">显示计数：</label><div class="el-form-item__content"><div role="switch" class="el-switch"><input type="checkbox" name="" true-value="true" class="el-switch__input"><!----><span class="el-switch__core" style="width: 40px;"></span><!----></div><!----></div></div><div class="el-form-item el-form-item--small"><label class="el-form-item__label">是否只读：</label><div class="el-form-item__content"><div role="switch" class="el-switch"><input type="checkbox" name="" true-value="true" class="el-switch__input"><!----><span class="el-switch__core" style="width: 40px;"></span><!----></div><!----></div></div><div class="el-form-item el-form-item--small"><label class="el-form-item__label">是否可见：</label><div class="el-form-item__content"><div role="switch" aria-checked="true" class="el-switch is-checked"><input type="checkbox" name="" true-value="true" class="el-switch__input"><!----><span class="el-switch__core" style="width: 40px;"></span><!----></div><!----></div></div><div class="el-form-item el-form-item--small">
                                                <label class="el-form-item__label">校验：</label><div class="el-form-item__content">
                                                    <br>
                                                    是否必填：
                                                    <div role="switch" class="el-switch"><input type="checkbox" name="" true-value="true" class="el-switch__input"><!----><span class="el-switch__core" style="width: 40px;"></span><!----></div><div class="el-input el-input--small"><!----><input type="text" autocomplete="off" placeholder="正则表达式" class="el-input__inner"><!----><!----><!----><!----></div><!---->
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div><div role="tabpanel" id="pane-form" aria-labelledby="tab-form" class="el-tab-pane" style="padding: 0px 10px;"><div class="form-config-container"><form class="el-form el-form--label-left"><div class="el-form-item el-form-item--small" placeholder="请选择按钮位置"><label class="el-form-item__label" style="width: 130px;">标签对齐方式：</label><div class="el-form-item__content" style="margin-left: 130px;"><div class="el-select el-select--small"><!----><div class="el-input el-input--small el-input--suffix"><!----><input type="text" readonly="readonly" autocomplete="off" placeholder="请选择" class="el-input__inner"><!----><span class="el-input__suffix"><span class="el-input__suffix-inner"><i class="el-select__caret el-input__icon el-icon-arrow-up"></i><!----><!----><!----><!----><!----></span><!----></span><!----><!----></div><div class="el-select-dropdown el-popper" style="display: none; min-width: 203px;"><div class="el-scrollbar" style=""><div class="el-select-dropdown__wrap el-scrollbar__wrap" style="margin-bottom: -17px; margin-right: -17px;"><ul class="el-scrollbar__view el-select-dropdown__list"><!----><li class="el-select-dropdown__item"><span>左对齐</span></li><li class="el-select-dropdown__item"><span>右对齐</span></li><li class="el-select-dropdown__item"><span>顶部对齐</span></li></ul></div><div class="el-scrollbar__bar is-horizontal"><div class="el-scrollbar__thumb" style="transform: translateX(0%);"></div></div><div class="el-scrollbar__bar is-vertical"><div class="el-scrollbar__thumb" style="transform: translateY(0%);"></div></div></div><!----></div></div><!----></div></div><div class="el-form-item el-form-item--small"><label class="el-form-item__label" style="width: 130px;">表单字段宽度：</label><div class="el-form-item__content" style="margin-left: 130px;"><div class="el-input-number el-input-number--small is-controls-right" style="width: 100%;"><span role="button" class="el-input-number__decrease"><i class="el-icon-arrow-down"></i></span><span role="button" class="el-input-number__increase"><i class="el-icon-arrow-up"></i></span><div class="el-input el-input--small"><!----><input type="text" autocomplete="off" max="200" min="80" class="el-input__inner" role="spinbutton" aria-valuemax="200" aria-valuemin="80" aria-valuenow="undefined" aria-disabled="false"><!----><!----><!----><!----></div></div><!----></div></div><div class="el-form-item el-form-item--small"><label class="el-form-item__label" style="width: 130px;">项之间的间隔：</label><div class="el-form-item__content" style="margin-left: 130px;"><div class="el-input-number el-input-number--small is-controls-right" style="width: 100%;"><span role="button" class="el-input-number__decrease"><i class="el-icon-arrow-down"></i></span><span role="button" class="el-input-number__increase"><i class="el-icon-arrow-up"></i></span><div class="el-input el-input--small"><!----><input type="text" autocomplete="off" max="60" min="0" class="el-input__inner" role="spinbutton" aria-valuemax="60" aria-valuemin="0" aria-valuenow="undefined" aria-disabled="false"><!----><!----><!----><!----></div></div><!----></div></div><div class="el-form-item el-form-item--small"><label class="el-form-item__label" style="width: 130px;">显示按钮：</label><div class="el-form-item__content" style="margin-left: 130px;"><div role="switch" class="el-switch"><input type="checkbox" name="" true-value="true" class="el-switch__input"><!----><span class="el-switch__core" style="width: 40px;"></span><!----></div><!----></div></div><!----><!----><!----><!----><!----><!----><!----></form></div></div>
                        </div>
                    </div>
                </aside><div role="presentation" class="el-dialog__wrapper" style="display: none;"><div role="document" tabindex="-1" class="el-drawer__container"><div aria-modal="true" aria-labelledby="el-drawer__title" role="presentation" class="el-drawer rtl" style="width: 50%;"><header id="el-drawer__title" class="el-drawer__header"><span role="heading">导入JSON</span><button aria-label="close 导入JSON" type="button" class="el-drawer__close-btn"><i class="el-dialog__close el-icon el-icon-close"></i></button></header><!----></div></div></div><div role="presentation" class="el-dialog__wrapper" style="display: none;"><div role="document" tabindex="-1" class="el-drawer__container"><div aria-modal="true" aria-labelledby="el-drawer__title" role="presentation" class="el-drawer rtl" style="width: 50%;"><header id="el-drawer__title" class="el-drawer__header"><span role="heading">生成JSON</span><button aria-label="close 生成JSON" type="button" class="el-drawer__close-btn"><i class="el-dialog__close el-icon el-icon-close"></i></button></header><!----></div></div></div><div role="presentation" class="el-dialog__wrapper" style="display: none;"><div role="document" tabindex="-1" class="el-drawer__container"><div aria-modal="true" aria-labelledby="el-drawer__title" role="presentation" class="el-drawer rtl" style="width: 50%;"><header id="el-drawer__title" class="el-drawer__header"><span role="heading">预览</span><button aria-label="close 预览" type="button" class="el-drawer__close-btn"><i class="el-dialog__close el-icon el-icon-close"></i></button></header><!----></div></div></div>
            </section>
        </div>
    </div>
    <script src="/lib/formbuilder/js/vue.min.js" charset="utf-8"></script>
    <script src="/lib/formbuilder/js/index.js" charset="utf-8">
    </script>
    <script src="/lib/formbuilder/js/axios.min.js" charset="utf-8"></script>
    <script src="/lib/formbuilder/js/avue.min.js" charset="utf-8">
    </script>
    <script src="/lib/formbuilder/js/maps-1.4.11_a40c6d547150ac9c43cc.js"></script>
    <script src="/lib/formbuilder/js/main-1.0.11.js"></script>
    <script src="/lib/formbuilder/js/chunk-vendors.38d53685.js"></script>
    <script src="/lib/formbuilder/js/app.991db057.js"></script>

</body>
</html>
