@page "/cc"
@{
    Layout = "_BasicLayout";
}
<div style="max-width: 900px; margin: 0 auto;">

    <div class="text-center" style="text-align: center;">

        <h1>***</h1>
    </div>
    <div class="de-part">联系方式 <email>215607739@qq.com</email></div>
    <div class="part-sec">
        教育信息<hr>
    </div>
    <div class="de-part">
        <div>
            <span class='de-sec-name bold'>武汉科技大学</span>
        </div>
        <div>
            <span class='de-sec-name'>信息与计算科学专业</span><span class='de-sec-name right'>2003/9-2007/7</span>
        </div>
    </div>


    <div class="part-sec">
        工作经历<hr>
    </div>

    <div class="de-part">
        <div>
            <span class='de-sec-name bold'>飞利浦金科威实业有限公司</span><span class='de-sec-name right'>深圳, 中国</span>
        </div>
        <div>
            <span class='de-sec-name bold2'>软件开发工程师</span><span class='de-sec-name right'>2016/4-2019/8</span>
        </div>
        <div>
            <span class='de-sec-name'>
                负责Phoebe阴道镜设备管理系统(C/S架构) 网络阴道镜信息管理系统（B/S架构）开发·开发面向对象的软件，
                包括用于妇科行业的Phoebe（数字阴道镜软件）.
            </span>
        </div>
    </div>
    <div class="de-part">
        <div>
            <span class='de-sec-name bold'>碧桂园房地产开发集团</span><span class='de-sec-name right'>佛山，中国</span>
        </div>
        <div>
            <span class='de-sec-name bold2'>软件开发工程师</span><span class='de-sec-name right'>2012/2-2016/3</span>
        </div>

        <div>
            <span class='de-sec-name '>
                负责碧桂园微信端开发组长，负责webapp形式的开发。具体负责的有数据库设计，网站后台功能模块开发(根据当时项目的需求，如用户注册模块，推介模块).前段页面html设计，javascript脚本编写
            </span>
        </div>
    </div>

    <div class="de-part">
        <div>
            <span class='de-sec-name bold'>奥兰若科技（深圳）有限公司</span><span class='de-sec-name right'>佛山，中国</span>
        </div>
        <div>
            <span class='de-sec-name bold2'>软件开发工程师 </span><span class='de-sec-name right'>2009/11-2012/2</span>
        </div>

        <div>
            <span class='de-sec-name'>
                负责开发基于公司要求的硬件和软件平台上的光通讯产品的相关测试软件。如PUMP ,40G技术等
            </span>
        </div>
    </div>

    <div class="part-sec">
        项目经验<hr>
    </div>

    <div class="de-part">
        <div>
            <span class='de-sec-name bold'>网络阴道镜系统</span><span class='de-sec-name right'>2018/5-2019/8</span>
        </div>

        <div class='s_content'>
            <span class='de-sec-name'>
                网络阴道镜系统主要的功能和和公司最新的电子阴道镜软件搭配，实现电子阴道镜软和外部系统，如HIS、PACS或医院集成平台的互通互联。本人负责网络阴道镜网页端研发。确定外部通讯协议和实现WEBSERVICE或Webapi接口。
            </span>
        </div>
    </div>

    <div class="de-part">
        <div>
            <span class='de-sec-name bold'>Phoebe电子阴道镜软件</span><span class='de-sec-name right'>2016/3-2018/8</span>
        </div>

        <div class='s_content'>
            <span class='de-sec-name'>
                Phoebe是一款妇科电子阴道镜产品，包括Phoebe软件和相应搭配硬件。目前全国都有医院在使用。
                本人负责Phoebe软件项目的开发计划和软件的框架搭建，使用git做源代码挂你+ gerrit 做Code Review ，Jenkins做产品迭代和自动化发布。

            </span>
        </div>
    </div>

    <div class="de-part">
        <div>
            <span class='de-sec-name bold'>碧桂园凤凰通微信营销平台和拼程旅游网微信营销项目</span><span class='de-sec-name right'>2013/6-2016/1</span>
        </div>

        <div class='s_content'>
            <span class='de-sec-name'>
                这两个项目都是基于微信公众平台框架下的一个在线营销分销系统
                本人负责微信平台游戏或营销推广活动数据库设计，后台功能模块开发，前端网页开发，后台使用asp.net开发
            </span>
        </div>
    </div>



    <div class="de-part">
        <div>
            <span class='de-sec-name bold'>TestEngine 系统升级</span><span class='de-sec-name right'>2009/12-2012/2</span>
        </div>

        <div class='s_content'>
            <span class='de-sec-name'>
                该项目是一个自动化软件测试项目，主要在公司的设备测试工作站里测试美国生产的光通信行业里的元器件。本人负责根据现有的GT3 产品的测试程序.进行的有final test,calibration, ewrite等多道工序的开发
            </span>
        </div>
    </div>
    <div class="part-sec">
        技术能力导图<hr>
    </div>

    <div>
        <img style="width:100%;" src="~/content/img/technology.png" />
    </div>
</div>



@section CSS{
    <style type="text/css">

        .de-part {
            margin: 10px 5px;
        }

        .right {
            float: right;
        }

        .bold {
            font-weight: 800;
        }

        .bold2 {
            font-weight: 500;
        }

        .s_content {
            margin-top: 9px;
        }

        .part-sec {
            font-weight: 600;
        }

        hr {
            margin: 2px;
        }
    </style>
}
@section Scripts{
    <script>

    </script>
}