@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>UserIndex Page</div>
    <div><input type="button" value="getvalue" onclick="Getvalue()" /></div>

    <div><input type="button" value="logout" onclick="logout()" /></div>
</div>

@section Scripts{
    <script>

        function logout() {

            $.ajax({
                type: 'GET',
                url: 'SignOut',
                //headers: {
                //    "Authorization": "Bearer " + localStorage.getItem("token")
                //}
            }).done(function (data) {
                console.log(data);

            });
        }


        function Getvalue() {
            // 获取令牌
            $.post("/oauth/gettoken", $.param({ userName: "user", password: "123" }))
                .done(function (data) {

                    if (data.code === 1) {
                        localStorage.setItem("token", data.data.AccessToken);
                        $.ajax({
                            type: 'GET',
                            url: '/api/values',
                            headers: {
                                "Authorization": "Bearer " + localStorage.getItem("token")
                            }
                        }).done(function (data) {
                            console.log(data);

                        });

                    }
                });

            ////设置HTTP头
            //$.ajaxSetup({
            //    beforeSend: function (xhr) {
            //        if (localStorage.getItem("token") !== null) {
            //            xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.getItem("token"));
            //        }
            //    }
            //});
            //$.getJSON("/api/values", function (data) { console.log(data); });//获取受保护的资源


            //     $.ajax({
            //         type: 'GET',
            //         url: '/api/values',
            //         headers: {
            //             "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyIiwianRpIjoiNjI0NDVhNGQtZTk0NS00MGFjLWJiYTktNDAxZTRmOGJlNjM2IiwibmJmIjoxNTY1NTIyOTk0LCJleHAiOjE1Njc5NDIxOTQsImlzcyI6IlVuaU9hdXRoRGlzdHJpYnV0aW9uIiwiYXVkIjoiVW5pT2F1dGhEaXN0cmlidXRpb25DbGllbnQifQ.Bx8PzE3P34Er2Uby0oeBZyIwIc9OxJbkpFavDI-pIxg"
            //         }
            //     }).done(function (data) {
            //         console.log(data);
            //     });
        }
    </script>
}