@page 
@{
    ViewData["Title"] = "Error";
}
<div class="text-center">
    <h1>梁家华</h1>
</div>

@section Scripts{
    <script>
        function login() {

            var accessToken = localStorage.getItem("accessToken");
            var refreshToken = localStorage.getItem("refreshToken");
            if (typeof (refreshToken) == "undefined") {
                refreshToken = null;
            }
            var urlData = {
                userName: $("#username").val(), password: $("#password").val(), refreshToken: refreshToken
            };
            $.ajax({
                type: "post",
                url: "/ApiAcount/login",

                dataType: "json",
                data: urlData,
                async: true,
                success: function (jsonResult) {

                    if (jsonResult.accessToken != "") {
                        localStorage.setItem("accessToken", jsonResult.Json.access_token);
                        localStorage.setItem("refreshToken", jsonResult.Json.refresh_token);
                        location.href = "sindex"
                    }
                },
                error: function () {

                }
            });
        }
    </script>
}