@{
    Layout = "../Shared/_JqGridLayout.cshtml";
    ViewData["Title"] = "usermng";
}
@{
    ViewBag.Title = "JqGrid Strongly Typed Helper in ASP.NET Core - Form Editing";

    var gridOptions = new Lib.AspNetCore.Mvc.JqGrid.Helper.Options.JqGridOptions<UniOrm.Model.AConFlowStep >("jqgStarWarsCharacters")
    {
        CompatibilityMode = (ViewBag.JqGrid == "free-jqgrid") ? Lib.AspNetCore.Mvc.JqGrid.Infrastructure.Enums.JqGridCompatibilityModes.FreeJqGrid : Lib.AspNetCore.Mvc.JqGrid.Infrastructure.Enums.JqGridCompatibilityModes.GuriddoJqGrid,
        Url = Url.Action("Characters", "StarWars"),
        MethodType = Lib.AspNetCore.Mvc.JqGrid.Infrastructure.Enums.JqGridMethodTypes.Post,
        DataType = Lib.AspNetCore.Mvc.JqGrid.Infrastructure.Enums.JqGridDataTypes.Json,
        JsonReader = new Lib.AspNetCore.Mvc.JqGrid.Infrastructure.Options.JqGridJsonReader { RepeatItems = false, RecordId = "Id" },
        SortingName = "Id",
        SortingOrder = Lib.AspNetCore.Mvc.JqGrid.Infrastructure.Enums.JqGridSortingOrders.Asc,
        Caption = "StarWars Characters",
        FooterEnabled = true,
        UserDataOnFooter = true,
        Pager = true,
        RowsNumber = 10,
        ViewRecords = true,
        Navigator = new Lib.AspNetCore.Mvc.JqGrid.Infrastructure.Options.Navigator.JqGridNavigatorOptions
        {
            Add = true,
            AddOptions = new Lib.AspNetCore.Mvc.JqGrid.Infrastructure.Options.Navigator.JqGridNavigatorEditActionOptions { Url = Url.Action("UpsertCharacter", "StarWars") },
            Edit = true,
            EditOptions = new Lib.AspNetCore.Mvc.JqGrid.Infrastructure.Options.Navigator.JqGridNavigatorEditActionOptions { Url = Url.Action("UpsertCharacter", "StarWars") },
            Delete = true,
            DeleteOptions = new Lib.AspNetCore.Mvc.JqGrid.Infrastructure.Options.Navigator.JqGridNavigatorDeleteActionOptions { Url = Url.Action("DeleteCharacter", "StarWars") },
            Search = false
        }
    };
}
@Html.JqGridHtml(gridOptions)
<table id="list2"></table>
<div id="pager2"></div>
@section Scripts{
    <script>
        $(function () {
            //页面加载完成之后执行
            pageInit();
        });
        function pageInit() {
            $("#list2").jqGrid(
                {
                    width: 1000,
                    url: '/api/UserMng/GetAllUserFromServer',//组件创建完成之后请求数据的url
                    datatype: "json",//请求数据返回的类型。可选json,xml,txt
                    colNames: ['id', '用户', '邮箱', '姓名', '手机号', '登出时间'],//jqGrid的列显示名字
                    colModel: [ //jqGrid每一列的配置信息。包括名字，索引，宽度,对齐方式.....
                        { name: 'id', index: 'id', width: 55 },
                        { name: 'userName', index: 'userName', width: 90 },
                        { name: 'email', index: 'email asc, invdate', width: 100 },
                        { name: 'name', index: 'name', width: 80, align: "right" },
                        { name: 'phoneNumber', index: 'name', width: 80, align: "right" },
                        { name: 'lockoutEnd', index: 'lockoutEnd', width: 80, align: "right" },

                    ],
                    rowNum: 10,//一页显示多少条
                    rowList: [10, 20, 30],//可供用户选择一页显示多少条
                    pager: '#pager2',//表格页脚的占位符(一般是div)的id
                    sortname: 'id',//初始化的时候排序的字段
                    sortorder: "desc",//排序方式,可选desc,asc
                    mtype: "get",//向后台请求数据的ajax的类型。可选post,get
                    viewrecords: true,
                    caption: "JSON Example"//表格的标题名字
                });
            /*创建jqGrid的操作按钮容器*/
            /*可以控制界面上增删改查的按钮是否显示*/
            $("#list2").jqGrid('navGrid', '#pager2', { edit: false, add: false, del: false });
        }

            $(function () {
            @Html.JqGridJavaScript(gridOptions)
        });

    </script>
}