<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="/lib/bootstrap/assets/css/font-awesome.css" rel="stylesheet" />
    <link href="/lib/bootstrap/assets/css/style.css" rel="stylesheet" />
    <style type="text/css">
        .container {
            padding: 0 15px;
        }

        .modal-dialog {
            max-width: 100%;
            margin: 1.75rem auto;
        }

        .modal-content {
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="container-fiuled">

            <div><button v-on:click="UpdateCache()">更新缓存</button></div>
            <div class="row">

                <div class="col-sm-4">
                    <div class="panel-heading">Composity List</div>
                    <div class="panel-body" style="max-height:100px; ">
                        <div>
                            <input type="button" value="新增" class="btn btn-primary" v-on:click="ToAddTrigle()" />
                        </div>
                        <table class="table-bordered">
                            <thead>
                                <tr>
                                    <th>guid</th>
                                    <th>name</th>
                                    <th>description</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr v-for="el in trigers">
                                    <td>{{el.RuleName}}</td>
                                    <td>{{el.Rule}}</td>
                                    <td>{{el.ComposityId}}</td>
                                    <td>
                                        <button type="button" v-on:click="ToDeleteAddTriger(el)" class="btn ">删除</button>
                                        <button type="button" v-on:click="ToEditTrigers(el)" class="btn ">修改</button>
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-4">

                    <div class="panel  panel-primary">
                        <div class="panel-heading">Composity List</div>
                        <div class="panel-body" style="max-height:100px; ">
                            <div>
                                <input type="button" value="新增" class="btn btn-primary" v-on:click="ToAddCompose()" />
                            </div>
                            <table class="table-bordered">
                                <thead>
                                    <tr>
                                        <th>guid</th>
                                        <th>name</th>
                                        <th>description</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr v-for="el in coms">
                                        <td>{{el.Guid}}</td>
                                        <td>{{el.Name}}</td>
                                        <td>{{el.Description}}</td>
                                        <td>
                                            <button type="button" v-on:click="ToEditCompose(el)" class="btn ">修改</button>
                                            <button type="button" v-on:click="ToSetupCompose(el)" class="btn ">设置</button>
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">


                    <div class="panel  panel-primary">
                        <div class="panel-heading">Flow List</div>
                        <div class="panel-body" style="max-height:100px; ">
                            <div>
                                <input type="button" value="新增" class="btn btn-primary" v-on:click="ToAddFlow( )" />
                            </div>
                            <div style=" width:100%; overflow :auto;">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>StepOrder</th>
                                            <th>FlowStepType</th>
                                            <th>GetValueWayID</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr v-for="el in steps">
                                            <td>{{el.StepOrder}}</td>
                                            <td>{{el.FlowStepType|GetFlowStepType}}</td>
                                            <td>{{el.GetValueWayID}}</td>
                                            <td>
                                                <button type="button" v-on:click="ToDelStep(el)" class="btn ">删除</button>
                                                <button type="button" v-on:click="ToEditStep(el)" class="btn ">修改</button>
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>



        </div>
        <div class="modal fade" id="TrigerDiv" role="dialog">
            <div class="temp-custom-modal-wrap">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content temp-custom-modal-content">
                        <button type="button" class="close temp-custom-close-button" data-dismiss="modal">&times;</button>
                        <div class="modal-body temp-custom-modal-body">
                            <div class="temp-login-form-wrapper">
                                <div class="row custom-row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 temp-form-column-wrap-image">
                                        <div class=" temp-payment-column-wrap-image">
                                            <div class="temp-form-inner-wrapper">
                                                <h2>Triger</h2>
                                                <p>路由器。</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="temp-form-column-wrap">
                                            <h2>基本信息</h2>

                                            <form>
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <span class="  ">

                                                                <label class="temp_input_label">
                                                                    <span class="temp_input_label-content">名称</span>
                                                                </label>
                                                                <input class="temp_input_field" v-model="editingTriger.RuleName" type="text">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <span class="  ">

                                                                <label class="temp_input_label">
                                                                    <span class="temp_input_label-content">Rule</span>
                                                                </label>
                                                                <input class="temp_input_field" v-model="editingTriger.Rule" type="text">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <span class="  ">

                                                                <label class="temp_input_label">
                                                                    <span class="temp_input_label-content">ComposityId</span>
                                                                </label>
                                                                <input class="temp_input_field" v-model="editingTriger.ComposityId" type="text">
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="temp-login-button-wrap">
                                                            <input class="btn btn-info temp-form-button" v-on:click="SaveAddTriger( )" type="button" value="保存" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="composeEntity" role="dialog">
            <div class="temp-custom-modal-wrap">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content temp-custom-modal-content">
                        <button type="button" class="close temp-custom-close-button" data-dismiss="modal">&times;</button>
                        <div class="modal-body temp-custom-modal-body">
                            <div class="temp-login-form-wrapper">
                                <div class="row custom-row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 temp-form-column-wrap-image">
                                        <div class=" temp-payment-column-wrap-image">
                                            <div class="temp-form-inner-wrapper">
                                                <h2>Composity</h2>
                                                <p>如果你有任何问题，请随时给我写信。只需填写给出的条目并按下按钮即可。</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="temp-form-column-wrap">
                                            <h2>基本信息</h2>

                                            <form>
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <span class="  ">

                                                                <label class="temp_input_label">
                                                                    <span class="temp_input_label-content">名称</span>
                                                                </label>
                                                                <input class="temp_input_field" v-model="editingCompose.Name" type="text">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <span class="  ">

                                                                <label class="temp_input_label">
                                                                    <span class="temp_input_label-content">Guid</span>
                                                                </label>
                                                                <input class="temp_input_field" v-model="editingCompose.Guid" type="text">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <span class="  ">

                                                                <label class="temp_input_label">
                                                                    <span class="temp_input_label-content">Description</span>
                                                                </label>
                                                                <input class="temp_input_field" v-model="editingCompose.Description" type="text">
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="temp-login-button-wrap">
                                                            <input class="btn btn-info temp-form-button" v-on:click="ToSaveCompose( )" type="button" value="保存" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="StepDetail" role="dialog">
            <div class="temp-custom-modal-wrap">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content temp-custom-modal-content">
                        <button type="button" class="close temp-custom-close-button" data-dismiss="modal">&times;</button>
                        <div class="modal-body temp-custom-modal-body">
                            <div class="temp-login-form-wrapper">
                                <div class="row  " style="width:100%;">

                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                        <div class="temp-form-column-wrap">
                                            <h2>基本信息</h2>

                                            <form>
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <span class="  ">

                                                                <label class="temp_input_label">
                                                                    <span class="temp_input_label-content">名称</span>
                                                                </label>
                                                                <input class="temp_input_field" v-model="editingStep.Name" type="text">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <span class="  ">

                                                                <label class="temp_input_label">
                                                                    <span class="temp_input_label-content">Guid</span>
                                                                </label>
                                                                <input class="temp_input_field" v-model="editingStep.Guid" type="text">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <span class="  ">

                                                                <label class="temp_input_label">
                                                                    <span class="temp_input_label-content">StepOrder</span>
                                                                </label>
                                                                <input class="temp_input_field" v-model="editingStep.StepOrder" type="number">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <span class="  ">

                                                                <label class="temp_input_label">
                                                                    <span class="temp_input_label-content">InParamNames</span>
                                                                </label>
                                                                <input class="temp_input_field" v-model="editingStep.ArgNames" type="text">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <span class="  ">
                                                                <label class="temp_input_label">
                                                                    <span class="temp_input_label-content">dllfileName</span>
                                                                </label>
                                                                <input class="temp_input_field" v-model="editingStep.TypeLib" type="text">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <span class="  ">
                                                                <label class="temp_input_label">
                                                                    <span class="temp_input_label-content">typename</span>
                                                                </label>
                                                                <input class="temp_input_field" v-model="editingStep.TypeFullName" type="text">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <span class="  ">
                                                                <label class="temp_input_label">
                                                                    <span class="temp_input_label-content">MethodName</span>
                                                                </label>
                                                                <input class="temp_input_field" v-model="editingStep.MethodName" type="text">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <span class="  ">

                                                                <label class="temp_input_label">
                                                                    <span class="temp_input_label-content">FlowStepType</span>
                                                                </label>
                                                                <select v-model="editingStep.FlowStepType">
                                                                    <option value="0">GetData</option>
                                                                    <option value="1">Set</option>
                                                                    <option value="2">Declare</option>

                                                                    <option value="3">CallMethodAndStore</option>
                                                                    <option value="4">CallMethod</option>
                                                                    <option value="5">Action</option>

                                                                    <option value="6">Function</option>
                                                                    <option value="7">Return</option>
                                                                    <option value="8">IF</option>
                                                                    <option value="9">Else</option>
                                                                    <option value="10">ElseIF</option>
                                                                    <option value="11">StaiticFile</option>
                                                                    <option value="12">Text</option> 
                                                                </select>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <span class="  ">

                                                                <label class="temp_input_label">
                                                                    <span class="temp_input_label-content">returnkeyName</span>
                                                                </label>
                                                                <input class="temp_input_field" v-model="editingStep.StorePoolKey" type="text">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="temp-login-button-wrap">
                                                            <input class="btn btn-info temp-form-button" v-on:click="ToSaveStep( )" type="button" value="保存" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                        <nav>
                                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">CallMethod</a>
                                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Decrare</a>
                                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#Text" role="tab" aria-controls="nav-contact" aria-selected="false">Text</a>
                                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#File" role="tab" aria-controls="nav-contact" aria-selected="false">File</a>
                                                <a class="nav-item nav-link active" id="nav-GetData-tab" data-toggle="tab" href="#nav-GetData" role="tab" aria-controls="nav-GetData" aria-selected="true">GetData</a>
                                            </div>
                                        </nav>
                                        <div class="tab-content" id="nav-tabContent">
                                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                        <div>dlls</div>
                                                        <div>系统</div>
                                                        <div v-for="el in dlls" @click="getTypes(el,'')">
                                                            {{el}}
                                                        </div>
                                                        <div>自定义</div>
                                                        <div v-for="el in plugindlls" @click="getTypes(el,'p')">{{el}}</div>
                                                        <div>
                                                            选择文件:  <input type="file" id="dllfile" name="dllfile" /> <input type="button" value="uploader" v-on:click="uploaderdll()" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" overflow:auto;">
                                                        <div>Types</div>
                                                        <template v-for="el in types">
                                                            <div style="margin-bottom:4px; background-color:aliceblue" @click="getmethod(el)">
                                                                {{el.Name}}
                                                            </div>
                                                        </template>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                        <div>Methods</div>
                                                        <div style="margin-bottom:4px; background-color:antiquewhite;" v-on:click="SelectMothod(el)" v-for="el in methods">{{el.methodname}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                                <div>ProxyCode</div>
                                                <textarea v-model="editingStep.ProxyCode" style=" width:100%;" rows="30"></textarea>
                                            </div>
                                            <div class="tab-pane fade" id="Text" role="tabpanel" aria-labelledby="nav-contact-tab">
                                                <div>Text</div>
                                                <textarea v-model="editingStep.OutPutText" style=" width:100%;" rows="30"></textarea>
                                            </div>
                                            <div class="tab-pane fade" id="File" role="tabpanel" aria-labelledby="nav-contact-tab">
                                                <div>File</div>

                                            </div>

                                            <div class="tab-pane fade" id="nav-GetData" role="tabpanel" aria-labelledby="nav-GetData-tab">
                                                <div>IsUsingParentConnstring  <input type="checkbox" v-model="editingStep.IsUsingParentConnstring"> </div>
                                                <div>
                                                    Connstring
                                                    <textarea v-model="editingStep.Connectionstring" style=" width:100%;" rows="4"></textarea>
                                                </div>
                                                <div>
                                                    Sql
                                                    <textarea v-model="editingStep.InParamter1" style=" width:100%;" rows="9"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                      
                                 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/vue/dist/vue.js" asp-append-version="true"></script>
    <script>
        var registers = [];
        var trigers = [];
        var step = [];
        var plugindlls = [];
        var dlls = [];
        var types = [];
        var Methods = [];
        var app = new Vue({
            el: '#app',
            data: {
                actointype: "add",
                editingStep: {},
                editingTriger: {},
                editingCompose: {},
                selectedCompose: {},
                trigers: trigers,
                coms: registers,
                steps: step,
                dlls: dlls,
                plugindlls: plugindlls,
                types: types,
                methods: Methods
            },
            filters: {
                GetFlowStepType: function (value) {
                    var rev = "Get";
                    // Get,
                    //Set,
                    //    Declare,
                    //    CallMethodAndStore,
                    //    CallMethod,
                    //    Action,
                    //    Function,
                    //    Return,
                    //    IF,
                    //    Else,
                    //    ElseIF,
                    switch (value) {
                        case 0:
                            rev = "GetData";
                            break;
                        case 1:
                            rev = "Set";
                            break;
                        case 2:
                            rev = "Declare";
                            break;
                        case 3:
                            rev = "CallMethodAndStore";
                            break;
                        case 4:
                            rev = "CallMethod";
                            break;
                        case 5:
                            rev = "Action";
                            break;
                        case 6:
                            rev = "Function";
                            break;
                        case 7:
                            rev = "Return";
                            break;
                        case 8:
                            rev = "IF";
                            break;
                        case 9:
                            rev = "Else";
                            break;
                        case 10:
                            rev = "ElseIF";
                            break;
                        case 11:
                            rev = "StaiticFile";
                            break;
                        case 12:
                            rev = "Text";
                            break;
                        //case 12:
                        //    rev = "GetData";
                        //    break;
                    }

                    return rev;
                },

            },
            methods: {
                getTypes: function (el, ty) {
                    var data = { dll:el, ty:ty };
                    $.ajax({
                        type: "get",
                        url: "/api/Fact/GetTypes",
                        contentType: 'application/json',
                        data: data,
                        async: true,
                        success: function (jsonResult) {

                            app.types = jsonResult;
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
                },
                uploaderdll: function () {
                    var formData = new FormData();
                    formData.append("dllfile", document.getElementById("dllfile").files[0]);
                   
                    $.ajax({
                        url: "/api/Fact/UpdateDLL/",
                        type: "POST",
                        data: formData,
                        /**
                        *必须false才会自动加上正确的Content-Type
                        */
                        contentType: false,
                        /**
                        * 必须false才会避开jQuery对 formdata 的默认处理
                        * XMLHttpRequest会对 formdata 进行正确的处理
                        */
                        processData: false,
                        success: function (data) {
                            if (data.isok == true) {
                                alert("上传成功！");
                               
                                GetAllPgulinsReflections();
                            }
                           
                        },
                        error: function () {
                            alert("上传失败！");
                            $("#imgWait").hide();
                        }
                    });
                },
                UpdateCache: function () {
                    if (!confirm("are you sure?")) {
                        return false;
                    }
                    $.ajax({
                        type: "post",
                        url: "/api/Fact/UpdateCache/", 
                        contentType: 'application/json', 
                        async: true,
                        success: function (jsonResult) {

                            if (jsonResult == 0) {
                                alert("ok");
                            }
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
                },
                ToDeleteAddTriger: function (el) {
                    if (!confirm("delete step?")) {
                        return false
                    }
                    $.ajax({
                        type: "delete",
                        url: "/api/Fact/DeletTriger/",
                        dataType: 'json',
                        contentType: 'application/json',
                        data: JSON.stringify(el.Id),
                        async: true,
                        success: function (jsonResult) {

                            if (jsonResult > 0) {
                                alert("  success");

                                GetAllTrigers();
                            }
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
                },
                ToAddTrigle: function () {

                    app.editingTriger = {
                        Id: 0,
                        RuleName: "",
                        Rule: "",
                        ComposityId: "",
                        HttpMethod: "",
                        IsEnable: ""
                    };
                    app.actointype = "add"
                    $('#TrigerDiv').modal("show")
                },
                SaveAddTriger: function () {
                    var el = app.editingTriger;
                    if (app.actointype == "add") {

                        $.ajax({
                            type: "post",
                            url: "/api/Fact/AddTriger/",
                            dataType: 'json',
                            contentType: 'application/json',
                            data: JSON.stringify(el),

                            async: true,
                            success: function (jsonResult) {

                                if (jsonResult > 0) {
                                    alert("  success");
                                    $('#TrigerDiv').modal("close")
                                    GetAllTrigers();
                                }
                            },
                            error: function (e) {
                                console.log(e);
                            }
                        });
                    }
                    else {
                        $.ajax({
                            type: "post",
                            url: "/api/Fact/UpateTriger/",
                            dataType: 'json',
                            contentType: 'application/json',
                            data: JSON.stringify(el),

                            async: true,
                            success: function (jsonResult) {

                                if (jsonResult > 0) {
                                    alert("  success");
                                    $('#TrigerDiv').modal("close")
                                    GetAllTrigers();
                                }
                            },
                            error: function (e) {
                                console.log(e);
                            }
                        });
                    }
                },
                ToEditTrigers: function (el) {
                    app.editingTriger = el
                    app.actointype = "edit"
                    $('#TrigerDiv').modal("show")
                },
                ToAddFlow: function () {
                    //if (app.editingStep == null || app.editingStep == undefined) {
                    app.editingStep = {
                        Id: 0, Name: '',
                        StepOrder: 0,
                        ArgNames: '',
                        ProxyCode:'',
                        TypeLib: '',
                        TypeFullName: '',
                        MethodName: '',
                        FlowStepType: ''
                    };
                    // app.
                    //}
                    app.actointype = "add";
                    GetAllReflections();
                    GetAllPgulinsReflections();
                    $('#StepDetail').modal("show")
                    //else {
                    //    app.editingStep.TypeLib = el.dll;
                    //    app.editingStep.TypeFullName = el.typename;
                    //    app.editingStep.MethodName = el.methodname;
                    //}
                },
                SelectMothod: function (el) {
                    if (app.editingStep == null || app.editingStep == undefined) {
                        app.editingStep = {
                            Id: 0, Name: '',

                            StepOrder: 0,
                            ArgNames: '',
                            TypeLib: el.TypeLib,
                            IsBuildIn: el.IsBuildIn,
                            TypeFullName: el.typename,
                            MethodName: el.methodname,
                            FlowStepType: el.FlowStepType
                        };
                        // app.
                    }
                    else {
                        app.editingStep.TypeLib = el.TypeLib;
                        app.editingStep.IsBuildIn = el.IsBuildIn;
                        app.editingStep.TypeFullName = el.typename;
                        app.editingStep.MethodName = el.methodname;
                    }
                },
                ToSaveStep: function () {
                    if (app.editingStep == null || app.editingStep == undefined) {
                        alert("errro");
                    }
                    var sdfe = app.editingStep;
                    sdfe.AComposityId = app.selectedCompose.Guid;
                    var addressurl = "ToInsertStep";
                    if (app.actointype != "add") {
                        addressurl = "ToUpateStep";
                    }

                    $.ajax({
                        type: "post",
                        url: "/api/Fact/" + addressurl,
                        dataType: 'json',
                        contentType: 'application/json',
                        data: JSON.stringify(sdfe),

                        async: true,
                        success: function (jsonResult) {

                            if (jsonResult > 0) {
                                alert("  success");
                                $('#StepDetail').modal("close")
                                getAconSlowStepByComposid(app.selectedCompose.AComposityId)
                            }
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
                },
                ToEditStep: function (el) {
                    app.editingStep = el;
                    app.actointype = "edit";
                    GetAllReflections();
                    GetAllPgulinsReflections();
                    $('#StepDetail').modal("show")
                },
                ToDelStep: function (el) {
                    if (!confirm("delete step?")) {
                        return false
                    }
                    $.ajax({
                        type: "delete",
                        url: "/api/Fact/DeleteSetp",
                        dataType: 'json',
                        contentType: 'application/json',///'application/json' 一定要写
                        data: JSON.stringify(el.Guid),  ///JSON.stringify 一定要写
                        async: true,
                        success: function (jsonResult) {

                            if (jsonResult > 0) {
                                alert("  success");
                                getAconSlowStepByComposid(app.selectedCompose.Guid);
                            }
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
                },
                ToSetupCompose: function (el) {
                    app.selectedCompose = el;
                    getAconSlowStepByComposid(el.Guid)
                },
                ToSaveCompose: function () {
                    var el = app.editingCompose;
                    var addressurl = "AddCompose";
                    if (app.actointype != "add") {
                        addressurl = "UpdateCompose";
                    }

                    $.ajax({
                        type: "post",
                        url: "/api/Fact/" + addressurl,
                        dataType: 'json',
                        contentType: 'application/json',
                        data: JSON.stringify(el),

                        async: true,
                        success: function (jsonResult) {

                            if (jsonResult > 0) {
                                alert("  success");
                                app.editingCompose = { id: 0, Guid: "", Name: "", Description: "" };
                                GetAllCompose()
                            }
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
                },
                ToAddCompose: function () {
                    app.actointype = "add";
                    app.editingCompose = { id: 0, Guid: "", Name: "", Description: "" };
                    $('#composeEntity').modal("show")
                },
                ToEditCompose: function (el) {
                    app.editingCompose = el;
                    app.actointype = "edit";
                    $('#composeEntity').modal("show")

                },
                getmethod: function (el) {
                    $.ajax({
                        type: "get",
                        url: "/api/Fact/GetMothod",
                        contentType: 'application/json',
                        dataType: "json",
                        data: {
                            id: el.dllfile, FullName: el.FullName
                        },
                        async: true,
                        success: function (jsonResult) {
                            app.methods = jsonResult

                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
                }
            }
        })
        function GetAllTrigers() {
            $.ajax({
                type: "get",
                url: "/api/Fact/GetAllTrigers",
                dataType: "json",
                //data: urlData,
                async: true,
                success: function (jsonResult) {
                    app.trigers = jsonResult;
                },
                error: function (e) {
                    console.log(e);
                }
            });
        }
        function getAconSlowStepByComposid(guid) {
            $.ajax({
                type: "get",
                url: "/api/Fact/GetAConFlowStepByComposeID",
                dataType: "json",
                data: {
                    id: guid
                },

                async: true,
                success: function (jsonResult) {

                    app.steps = jsonResult;
                },
                error: function (e) {
                    console.log(e);
                }
            });

        }
        function GetAllCompose() {
            $.ajax({
                type: "get",
                url: "/api/Fact/GetAllCompose",
                dataType: "json",
                //data: urlData,
                async: true,
                success: function (jsonResult) {

                    app.coms = jsonResult;


                },
                error: function (e) {
                    console.log(e);
                }
            });
        }

        function GetTypesByDll(dll) {
            $.ajax({
                type: "get",
                url: "/api/Fact/GetTypes/dll",
                dataType: "json",
                //data: urlData,
                async: true,
                success: function (jsonResult) {

                    app.dlls = jsonResult.dlls; 
                },
                error: function (e) {
                    console.log(e);
                }
            });
        }

        function GetAllPgulinsReflections() {
            $.ajax({
                type: "get",
                url: "/api/Fact/GetAllPluginReflections",
                dataType: "json",
                //data: urlData,
                async: true,
                success: function (jsonResult) {

                    app.plugindlls = jsonResult.dlls;
                },
                error: function (e) {
                    console.log(e);
                }
            });
        }

        function GetAllReflections() {
            $.ajax({
                type: "get",
                url: "/api/Fact/GetDefaultDlls",
                dataType: "json",
                //data: urlData,
                async: true,
                success: function (jsonResult) {

                    app.dlls = jsonResult.dlls;
                    app.types = [];
                    app.methods = [];
                    if (app.dlls.length > 0) {
                        $.ajax({
                            type: "get",
                            url: "/api/Fact/GetTypes/" + app.dlls[0]+"ty=",
                            dataType: "json",
                            async: true,
                            success: function (jsonResult) {
                                 
                                app.types = jsonResult;
                                aap.methods = []; 
                            },
                            error: function (e) {
                                console.log(e);
                            }
                        });
                    }
                
                    //app.methods = jsonResult.methods;
                   //app.types = jsonResult.types;
                },
                error: function (e) {
                    console.log(e);
                }
            });
        }
        $(function () {
            GetAllCompose();
            GetAllTrigers();
        })

    </script>
</body>
</html>