@{
    ViewData["Title"] = "Home Page";
}
<button id="login" onclick="login()">Login</button>
<button id="api" onclick="localApi()">Call API</button>
<button id="api" onclick="localApi2()">Call API2</button>
<button id="api" onclick="getremoteApi()">Call getremoteApi</button>
<button id="logout" onclick="logout()">Logout</button>

<pre id="results"></pre>

@section Scripts{
    <script src="~/js/oidc-client.js"></script>
    <script src="~/js/app.js"></script>
    <script>
        function localApi() {
            mgr.getUser().then(function (user) {
                var headers = {};
                headers.Authorization = 'Bearer ' + user.access_token;
                var url = "/api/values";
                $.ajax({
                    type: "get",
                    url: url,
                    dataType: "json",
                    data: { test: 3333 },
                    headers: headers,
                    async: true,
                    success: function (jsonResult) {
                        alert(JSON.stringify(jsonResult));
                    },
                    error: function (res) {

                    }
                });
            });

        }

        function localApi2() {
            mgr.getUser().then(function (user) {
                var headers = {};
                headers.Authorization = 'Bearer ' + user.access_token;
                var url = "http://localhost:6001/api/values";
                $.ajax({
                    type: "get",
                    url: url,
                    dataType: "json",
                    data: { test: 3333 },
                    headers: headers,
                    async: true,
                    success: function (jsonResult) {
                        alert(JSON.stringify(jsonResult));
                    },
                    error: function (res) {

                    }
                });
            });

        }
        mgr.getUser().then(function (user) {
            if (user) {
                $("#results").text("User logged in" + JSON.stringify(user.profile));
            }
            else {
                $("#results").text("User not logged in");
            }
        });
        function getremoteApi() {

            mgr.getUser().then(function (user) {
                var headers = {};
                headers.Authorization = 'Bearer ' + user.access_token;
                var url = "http://oauth2.66wave.com/api/users";
                $.ajax({
                    type: "get",
                    url: url,
                    dataType: "json",

                    headers: headers,
                    async: true,
                    success: function (jsonResult) {
                        alert(JSON.stringify(jsonResult));
                    },
                    error: function () {

                    }
                });
            });
        }
        function login() {
            mgr.signinRedirect();
        }
    </script>
}