@{
    Layout = "../Shared/_KindEditorLayout.cshtml";
    ViewData["Title"] = "Home Page";
}
@section css{

}
    <div id="txtActiveInfo" style="height:300px;"></div>
@section Scripts{
    <script type="text/javascript">
              var editor1;
        //var editor2;
        //var txtYqTextEditor;
        //var txtFxTextEditor;
        KindEditor.ready(function (K) {
            editor1 = K.create('#txtActiveInfo', {
                uploadJson: '@Url.Action("SaveFiles", "KindEditor")',
                fileManagerJson: '@Url.Action("FileManager", "KindEditor")',
                allowFileManager: true,
                autoHeightMode: true,
                newlineTag: 'br',
                afterCreate: function () {

                }
            });
            //editor2 = K.create('#txtShareTitle', {
            //    cssPath: '../kindeditor/plugins/code/prettify.css',
            //    uploadJson: '../kindeditor/asp.net/upload_json.ashx',
            //    fileManagerJson: '../kindeditor/asp.net/file_manager_json.ashx',
            //    allowFileManager: true,
            //    autoHeightMode: true,
            //    newlineTag: 'br',
            //    afterCreate: function () {

            //    }
            //});
            //txtYqTextEditor = K.create('#txtYqText', {
            //    autoHeightMode: true,
            //    items: [
            //        'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
            //        'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
            //        'insertunorderedlist', '|', 'emoticons', 'image', 'link']
            //});
            //txtFxTextEditor = K.create('#txtFxText', {
            //    resizeType: 1,
            //    allowPreviewEmoticons: false,
            //    allowImageUpload: false,
            //    items: [
            //        'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
            //        'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
            //        'insertunorderedlist', '|', 'emoticons', 'image', 'link']
            //});
        });
    </script>
}